#gameBox {
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 800px;
    justify-content: space-around;
    align-items: center;
}

#newGame {
    width: 30%;
}

#gridBox{
    display: flex;
}

.divGridBox {
    width: 50px;
    height: 50px;
    background-color: aqua;
}
